/* https://web.runland.co.jp/frontend/post-6084 を参考に作成 */
.table_box{
	max-width: 800px;
	/* height: 300px; */
	overflow-x: auto;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
th, td {
	vertical-align: middle;
	padding: 8px;
	border: 1px solid #000;
	color: #000;
	font-size: 16px;
	text-align: right;
	white-space: nowrap;
}
th {
	background: #fff;
}
td {
	background: #fff;
}
.sticky_row {
	position: sticky;
	top: 0;
	left: 0;
	background: none;
	border-left: none;
	border-right: none;
	text-align: center;
}
.sticky_row::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-left: 1px solid #000;
	border-right: 3px double #000;
	background: #fff;
	z-index: -1;
}
.sticky_col {
	position: sticky;
	top: 0;
	left: 0;
	background: none;
	border-top: none;
	border-bottom: none;
	text-align: center;
}
.sticky_col::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #000;
	border-bottom: 3px double #000;
	background: #9bc5ff;
	z-index: -1;
}
.sticky_cross {
	position: sticky;
	top: 0;
	left: 0;
	background: none;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	z-index: 1;
	text-align: center;
}
.sticky_cross::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #000;
	border-bottom: 3px double #000;
	border-left: 1px solid #000;
	border-right: 3px double #000;
	background: #9bc5ff;
	z-index: -1;
}